In [4]:
#Depencencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import browser
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

### Nasa Mars News

In [5]:
NASAurl = "https://mars.nasa.gov/news/"
Browser.visit(NASAurl)

# url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

AttributeError: 'function' object has no attribute 'visit'

In [ ]:
html = browser.html
soup = bs(html, 'html.parser')

time.sleep(2)
item_list = soup.find_all('ul', class_="item_list")

h3 = item_list[0].find_all('div', class_ = 'content_title')
print(h3[0].get_text())

#PART 2
#for part 2 it is the same same but class is article teaser body
# h3 = item_list[0].find_all('div', class_ = 'content_title')
# print(h3[0].get_text())

In [ ]:
news_title = "MOXIE Could Help Future Rockets Launch Off Mars"

news_p = "NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel."

##### JPL Mars Space Images - Featured Image

In [ ]:
response=requests.get(url)

In [ ]:
res=response.text
print(res)

In [ ]:
#setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
#JPL url

JPLurl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(JPLurl)

In [ ]:


browser.links.find_by_partial_text('FULL IMAGE').click()
browser.links.find_by_partial_text('more info').click()


#     Iterate through each book
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
    
html = browser.html
soup = bs(html, 'html.parser')

h3 = soup.find('figure')
link = h3.find('a')
featured_image_url = link['href']

In [ ]:
print("https://www.jpl.nasa.gov" + featured_image_url)

### Mars Facts

In [9]:

mars_facts = "https://space-facts.com/mars/"
facts_table = pd.read_html(mars_facts)
facts_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
df = facts_table[0]
df.columns = ['Fact', 'Recording']
df

                   Fact                      Recording
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers